<http>
    <body>
        <h1>Edit restaurant details</h1><br>
        <p>Name is mandatory</p><br>

        <form action="/update" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_id" value=<%= restaurant._id %>>
            Restaurant ID: <input type="text" name="restaurant_id" value=<%= restaurant.restaurant_id %>><br>
            Name: <input type="text" name="name" value=<%= restaurant.name%>><br>
            Borough: <input type="text" name="borough" value=<%= restaurant.borough%>><br>
            Cuisine: <input type="text" name="cuisine" value=<%= restaurant.cuisine%>><br>
            
            Photo: <input type="file" name="photo"><br>
            Photo mimetype: <input type="text" name="photo_mimetype"><br>

            Street: <input type="text" name="street" value=<%= restaurant.address.street%>><br>
            Building: <input type="text" name="building" value=<%= restaurant.address.building%>><br>
            Zipcode: <input type="text" name="zipcode" value=<%= restaurant.address.zipcode%>><br>
            Coordinates(lon.): <input type="float" name="lon" value=<%= restaurant.address.coord[0]%>><br>
            Coordinates(lat.): <input type="float" name="lat" value=<%= restaurant.address.coord[1]%>> <br>
            <input type="hidden" name="owner" value=<%= restaurant.owner %>>
            <input type="submit" value="Update">
            <a href="/">Cancel</a>
        </form>
    </body>
</http>